.mainCardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  background-color: violet;
}

.cardContainer {
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr;
}
.card {
  background-color: white;
}
