.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
  height: 100vh;
  width: 100vw;
}
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  text-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  background-color: green;
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#logForm {
  left: -300px;
}
#regForm {
  left: 0;
}

form a {
  font-size: 12px;
}

#indicator {
  width: 55px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  /* transform: translateX(100px); */
  transition: transform 1s;
}

.indi1 {
  transform: translateX(124px);
}
.indi2 {
  transform: translateX(26px);
}

.logForm {
  transform: translateX(0px);
}
.regForm {
  transform: translateX(300px);
}
